MONGODB_URI=mongodb+srv://sureshreddy:<password>@wealthifyprodb.vc6klc0.mongodb.net/?appName=wealthifyprodb
JWT_SECRET=your_production_secret
JWT_EXPIRATION=7d
PORT=3000

# Cloudinary Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=wealthifypro
CLOUDINARY_API_KEY=954819939946142
CLOUDINARY_API_SECRET=STa4IdlHNXb95wYIrnTr1uvPYmc
